body{
    background-color: #5984bb;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    margin-top: 5px;
}

nav{
    width: 100%;
    height: 75px;
    background-color: #4570a9;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0 4px 4px  #274976;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    
    
}

nav img{
        
    height: 70px;
    border-radius: 5px;
    padding: 3px;
}

li a{
    text-decoration: none;
    display: flex;
    height: 30px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    color: #cddaeb;
}

li a:hover{
    background-color: #274976;
    color: #8fa1dc;
    transition: 0.3s;
}

main{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;       
    margin-top: 50px;
    gap: 20px;
}

.card{    
    
   
    max-width: 450px;
    max-height: 900px;    
    background-color: #eaedf2;
    box-shadow: 4px 4px 8px  #1b2b61;    
    border-radius: 10px;
    

    
}

.card img{
    
    align-self: flex-start;
    max-width: 100%;
    min-width: 450px;
    height: 500px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.container{
    background-color: #eaedf2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.container h4{
    color: #1b2b61;
    font-size: 20px;
    margin: 10px;
}
.container label{
    color: #1b2b61;
    font-size: 20px;
    margin-left: 10px;
    align-self: flex-start;
    
}

button{
    background-color: #4570a9;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: #274976;
}

/* formulario */

form{
    width: 33.33%;
    background-color: #eaedf2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;       
    margin-top: 50px;
    border-radius: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: 2px 4px 4px #1b2b61;

}

.campo{
    display: flex;
    min-width: 80%;
    flex-direction: column;
    justify-content: center;
    padding-top: 0px;
}

.campo label{
    font-family: Arial, Helvetica, sans-serif;
    color: #1b2b61;
    font-size: 20px;
    padding: 15px;
    padding-left: 0px;
    align-self: flex-start;
}

.campo input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #1b2b61;    
    font-size: 20px;
    align-self: flex-start;
}

form h3{
    
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    color: #1b2b61;
    font-size: 20px;
    margin: 10px;
    
}

form button{
    
    background-color: #4570a9;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin: 25px;
    margin-bottom: 10px;
    margin-top: 45px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    
}

form button:hover{
    background-color: #274976;
}

